* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
}
.main-content {
    padding: 1em;
}

/*Layout*/
@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr;
        gap: 0px 10px;        
    }
    .sidebar {
        display: grid;
        grid-template-rows: 1fr 4fr;
    }
    .nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .nav > div{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
    }
    .main-content {
    }
}

@media (max-width: 767px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr;
        gap: 1em 0px;
    }
    .sidebar {
        display: grid;
        
    }
    .nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .main-content {
        
    }
}



/*Calendar*/
#calendar {

}

#calendar-navigation {
    display: flex;
    justify-content: space-evenly;
}

#year,
#month {
    text-align: center;    
}

ul {
    list-style-type: none;
}

#weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  
#weekdays li {    
    color: #666;
    text-align: center;
    font-size:12px;
}

#days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
  
#days li {
    display: inline-block;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
}

#today {
    color: red;
}
/*Calendar End*/