<!DOCTYPE html>
<html>
    <head>
        <title>Coffeefy - Home Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/home.css">
    </head>
    <body>        
        <div class="container">
            <section class="sidebar">
                <div>
                    Hello, {{user}}
                </div>
                <div class="nav">
                    <div>
                        <a href="/home">Home</a>
                    </div>
                    <div>
                        <a href="/history">History</a>
                    </div>
                    <div>
                        <a href="/settings">My Settings</a>
                    </div>
                    <div>
                        <a href="/logout">Log Out</a>
                    </div>
                </div>            
            </section>
            <section class="main-content">
                <div id="calendar">                    
                    <div id="calendar-navigation">
                        <button onclick="previousMonth()">Previous Month</button>
                        <div>
                            <p id="year">
                                Year
                            </p>
                            <p id="month">
                                Month
                            </p>
                        </div>                        
                        <button onclick="nextMonth()">Next Month</button>
                    </div>            
                    <ul id="weekdays">
                        <li>S</li>
                        <li>M</li>
                        <li>T</li>
                        <li>W</li>
                        <li>T</li>
                        <li>F</li>
                        <li>S</li>                
                    </ul>
                    <ul id="days">
                    </ul>
                </div>
                
                <div>
                    Coffee Makers
                    {{#members}}
                        {{this}}
                    {{/members}}
                </div>
            </section>
        </div>
        <script src="js/home.js"></script>
    </body>
</html>