<!DOCTYPE html>
<html>
    <head>
        <title>Coffeefy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        Placeholder index page.
        <a href="/login"><button>Go to Login</button></a>
    </body>
</html>